<footer>
  <div class="row">
    <div class="col-md-12 col-lg-5 contact-information">
      <h3 class="company-name">Movmovmovies</h3>
      <p>We sell movies at highly competitive prices. Always a great and diverse selection.
        Find your new favorite movie here!</p>
      <div class="wrapper">
        <p class="contact-us-title">Contact us</p>
        <ul>
          <li class="phone-number">478-784-7311</li>
          <li class="email-address">info@movmovmovies.com</li>
          <li class="web-page">www.movmovmovies.com</li>
        </ul>
      </div>
    </div>
    <div class="col-md-4 col-lg-2 footer-links">
      <p class="footer-heading">Company</p>
      <ul>
        <li>About</li>
        <li>FAQ</li>
        <li>Return policy</li>
        <li><a routerLink="/admin" class="footer-link">Admin</a></li>
        <li>Contact us</li>
      </ul>
    </div> <!-- end of company info-->
    <div class="col-md-4 col-lg-2 footer-links">
      <p class="footer-heading">Connect</p>
      <ul>
        <li>Facebook</li>
        <li>Instagram</li>
        <li>Twitter</li>
      </ul>
    </div> <!-- end of connect info-->
    <div class="col-md-4 col-lg-2 footer-links">
      <p class="footer-heading">Categories</p>
      <ul>
        <li>Action</li>
        <li>Thriller</li>
        <li>Comedy</li>
        <li>Sci-Fi</li>
      </ul>
    </div> <!-- end of categories-->
  </div> <!-- end of row-->
  <div class="footer-copyright"><p>© 2019 Movmovmovies AB</p></div>
</footer>
